<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          Masters
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'hiapp:additem' %}">Item Master</a>
          <a class="dropdown-item" href="#">Party Master</a>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'hiapp:home' %}">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
  </div>
<div class="container mt-3">
    {% for message in messages %}
        <p class="alert alert-success mt-3">{{ message }}</p>
    {% endfor %}
    <div class="row">
        <div class="col-sm-4">
            <h3 class="alert alert-info text-center">Brand Master</h3>
            {% if sel_brands %}
                <form action="{% url 'hiapp:update_brand' sel_brands.id %}" method="post">
                    {% csrf_token %}

                    <div>
                        <label for="brandname">Brand Name</label>
                        <input name="brandname" class="form-control" placeholder="Brand Name" value="{{ sel_brands.brandname }}" type="text">
                    </div>
                    <div>
                        <label for="branddescription">Brand Description</label>
                        <textarea name="branddescription" class="form-control" placeholder="Brand Description" type="text"> {{ sel_brands.branddescription }} </textarea>
                    </div><br>
                    <div>
                        <button type="submit" class="btn btn-success">Update Brand</button>
                    </div>
                </form>
            {% else %}
                <form action="{% url 'hiapp:add_brand' %}" method="post">
                    {% csrf_token %}

                            <div>
                                <label for="brandname">Brand Name</label>
                                <input name="brandname" class="form-control" placeholder="Brand Name" type="text">
                            </div>
                            <div>
                                <label for="branddescription">Brand Description</label>
                                <textarea name="branddescription" class="form-control" placeholder="Brand Description" type="text"></textarea>
                            </div><br>
                            <div>
                                <button type="submit" class="btn btn-success">Add Brand</button>
                            </div>

                </form>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h3 class="text-center alert alert-info">Show Brand Information</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Brand Name</th>
                        <th scope="col">Brand Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in brands %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ b.brandname }}</td>
                            <td>{{ b.branddescription }}</td>
                            <td><a href="{% url 'hiapp:edit_brand' b.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a href="{% url 'hiapp:delete_brand' b.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>